:root {
	--60color: #0a0a0a;
	--30color: #6ec4a7;
	--10color: white;
	--60colorTransparent: #0a0a0ab7;
	--monthBorderSize: 2px;
	--color: #ab59b3e7;
}

#root {
	scroll-behavior: smooth;
}

.logo {
	background-color: black;
}

.loginCard,
.signUpCard {
	position: absolute;
	top: 45%;
	left: 50%;
	transform: translate(-50%, -50%);
	box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.loginBtn {
	width: 100%;
	min-width: fit-content;
}

#calendar {
	position: relative;
	z-index: 1;
	background-color: #0a0a0a;
}

.calTitleGrid {
	grid-template-columns: repeat(auto-fit);
}

.dayBox {
	min-height: 15vh;
	max-height: 15vh;
	outline-color: #45596b6c;
	cursor: default;
	pointer-events: auto;
	position: static;
	background-color: rgb(235, 235, 235);
}

.dayBox:nth-of-type(5n),
.dayBox:nth-of-type(1) {
	scroll-snap-align: start;
}

.dateGrid {
	flex-basis: 93%;
}

.calLabelContainer {
	display: grid;
	position: relative;
	align-content: center;
	background-color: transparent;
	color: white;
}

.calLabelText {
	writing-mode: vertical-rl;
	text-orientation: upright;
	font-size: large;
}

/* .focusLabelLeft {
	border-top-right-radius: 7px;
	border-bottom-right-radius: 7px;
} */

/* .focusLabelRight {
	border-top-left-radius: 7px;
	border-bottom-left-radius: 7px;
} */

.focusMonthCal {
	background-color: white;
}

.focusMonth > div > div {
	font-weight: bold;
	background-color: white !important;
}

.monthBox {
	position: relative;
	pointer-events: none;
}

.calMonthsContainer {
	pointer-events: none;
}

.transaction {
	max-width: 100%;
	font-weight: 600;
}

.transactionContainer {
	max-height: 100%;
	max-width: 100%;
	height: 100%;
}

.transactionContainer::-webkit-scrollbar {
	display: none;
}

.transactionContainer::-webkit-scrollbar-thumb {
	display: none;
}

.transactionDrawer {
	height: 15vh;
	transition: all 400ms;
	bottom: 0px;
}

.transactionForm {
	grid-template-columns: 0.5fr 0.5fr 0.75fr 1fr;
	grid-template-rows: min-content;
	position: relative;
	padding: 1% 15% 0%;
}

.drawerClosed {
	transform: translateY(15.5vh);
}

div > .weekdayLabel {
	z-index: 5;
}

.weekdayLabel {
	background-color: #6ec4a7;
	color: #0a0a0a;
	text-align: center;
	box-shadow: 0 3px 4px rgba(0, 0, 0, 0.329);
}

.addTransactionBtn {
	position: absolute;
	right: 0.25vw;
	bottom: 0.5vh;
	transition: all 300ms;
}

.invalidAmount {
	font-size: xx-small;
}

#dragger {
	touch-action: none;
	-moz-user-select: none;
	-webkit-user-select: none;
	user-select: none;
}

#topCalBound {
	position: absolute;
	width: 100%;
	height: 30px;
	z-index: 150;
}

#bottomCalBound {
	position: absolute;
	bottom: 0px;
	width: 100%;
	height: 20px;
	z-index: 100;
}

.nextTransactionPage {
	position: relative;
	top: 9.375px;
	border: 0.25rem solid transparent;
	border-right: 0;
	border-left: 0.5rem solid lightgray;
}

.prevTransactionPage {
	position: relative;
	top: 9.375px;
	border: 0.25rem solid transparent;
	border-left: 0;
	border-right: 0.5rem solid lightgray;
}

.dragOver {
	border: solid red 2px;
}

.selectedTransaction {
	border: solid 2px black;
	padding-top: 2px;
}

.paginator {
	cursor: pointer;
}

.acctTabs {
	clip-path: polygon(10% 0%, 90% 0%, 100% 100%, 0% 100%);
	background: #0a0a0a !important;
}

.selTab {
	background: #6ec4a7 !important;
}

.acctTabs::before {
	content: "";
	clip-path: polygon(10% 0%, 90% 0%, 100% 100%, 0% 100%);
	width: 128px;
	height: 24px;
	position: absolute;
	z-index: -1;
	background-color: #6ec4a7;
}

.acctTabs::after {
	content: "";
	clip-path: polygon(10% 0%, 90% 0%, 99% 100%, 1% 100%);
	width: 124px;
	height: 22px;
	position: absolute;
	transform: translateY(1px);
	z-index: 1;
	background-color: inherit;
}

.calCtrlCont {
	background-color: var(--60color);
}

.tabCont {
	width: calc(100vw - 560px);
	min-width: calc(100vw - 560px);
	max-width: calc(100vw - 560px);
	overflow-x: auto;
	background-color: #0a0a0a;
}

.tabCont::-webkit-scrollbar {
	height: 3.5px;
}

.tabCont::-webkit-scrollbar-track {
	background: black;
}

.tabCont::-webkit-scrollbar-thumb {
	background-color: white;
}

.mnthStartBrdr1stNotSun {
	border-top: solid var(--monthBorderSize) var(--30color);
	border-left: solid var(--monthBorderSize) var(--30color);
}

.mnthStartBrdrTop {
	box-sizing: border-box;
	border-top: solid var(--monthBorderSize) var(--30color);
}

.mnthEndBrdrLastDayNotSat {
	border-bottom: solid var(--monthBorderSize) var(--30color);
	border-right: solid var(--monthBorderSize) var(--30color);
}

.mnthEndBrdrBottom {
	border-bottom: solid var(--monthBorderSize) var(--30color);
}

.the8th::before {
	content: "";
	position: absolute;
	width: var(--monthBorderSize);
	height: var(--monthBorderSize);
	background: var(--30color);
	clip-path: polygon(0 0, 100% 0, 0 100%);
}

.mnthPicker {
	height: 22px;
	width: 126px;
	padding-top: 6px;
}

input[type="month"]::-webkit-calendar-picker-indicator {
	filter: invert(0%) sepia(48%) saturate(656%) hue-rotate(55deg) brightness(110%) contrast(92%);
}

input[type="month"]:focus {
	outline: none;
}

.submitDatesBtn {
	position: relative;
	background-color: #0a0a0a;
	width: 26px;
	height: 24px;
	margin-left: 14px;
}

.addAcctCont {
	background: rgba(0, 0, 0, 0.411);
	z-index: 105;
}

.addAcctModal {
	color: white;
	position: absolute;
	z-index: 50;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background: var(--60colorTransparent);
	/* border: solid 1px black; */
	-webkit-box-shadow: 10px 22px 36px -10px rgba(0, 0, 0, 0.75);
	-moz-box-shadow: 10px 22px 36px -10px rgba(0, 0, 0, 0.75);
	box-shadow: 10px 22px 36px -10px rgba(0, 0, 0, 0.75);
	width: 23%;
	height: fit-content;
	padding: 1.5%;
	padding-top: 0.9%;
}

.acctOptIcon {
	transform: translateY(2.25px) translateX(5px);
}

.calCtrlWrap {
	max-height: 96.7vh;
	grid-template-rows: 1fr 14fr;
	border-bottom-left-radius: 7px;
	border-bottom-right-radius: 7px;
}

.calWrap {
	overflow-y: scroll;
	scroll-snap-type: y mandatory;
	scrollbar-width: none;
	-ms-overflow-style: none;
}

.calWrap::-webkit-scrollbar {
	display: none;
}

.userPanel {
	background-color: #0a0a0a;
}

.delTransBtn {
	right: 204px;
	top: 10px;
	margin-top: 0.25rem;
}

@keyframes zoomIn {
	from {
		transform: translateX(-50%) translateY(-125%);
		opacity: 0;
	}
	to {
		transform: translateX(-50%) translateY(-85%);
		opacity: 1;
	}
}

@keyframes appear {
	0% {
		opacity: 0;
	}
	50% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

.landingPageTitle {
	animation: zoomIn 2.5s ease-in-out;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translateX(-50%) translateY(-85%);
	color: #45596b;
}

.landingPageBtns,
.landingTagLine {
	animation: appear 5s ease-in-out;
}

.mobCol1 {
	grid-column-start: auto;
	grid-column-end: auto;
}

.mobCol2 {
	grid-column-start: auto;
	grid-column-end: auto;
}

.col1 {
	grid-column-start: 1 !important;
	grid-column-end: 2 !important;
}

.col2 {
	grid-column-start: 2 !important;
	grid-column-end: 3 !important;
}

.col3 {
	grid-column-start: 3 !important;
	grid-column-end: 4 !important;
}

.col4 {
	grid-column-start: 4 !important;
	grid-column-end: 5 !important;
}

.col5 {
	grid-column-start: 5 !important;
	grid-column-end: 6 !important;
}

.col6 {
	grid-column-start: 6 !important;
	grid-column-end: 7 !important;
}

.col7 {
	grid-column-start: 7 !important;
	grid-column-end: 8 !important;
}

/* Mobile */
@media (max-width: 560px) {
	.dayBox:nth-of-type(5n),
	.dayBox:nth-of-type(1) {
		scroll-snap-align: none;
	}

	.dayBox:nth-of-type(2n) {
		scroll-snap-align: start;
	}
	.transactionDrawer {
		height: 50vh;
		width: 100vw;
	}

	.transactionForm {
		grid-template-columns: 1fr;
		grid-template-rows: 1fr 0.5fr 0.5fr 1fr;
		padding: 11% 10%;
	}

	.calCtrlWrap {
		max-height: 95.5vh;
	}

	.tabCont {
		height: auto;
		width: 100vw;
		max-width: 100vw;
		min-width: 100vw;
	}

	.calCtrlCont {
		max-width: 99vw;
		display: flex;
		flex-direction: column;
	}

	.drawerClosed {
		transform: translateY(60vh);
	}

	.weekdayLabel {
		max-width: 100vw;
	}

	.calCntrlMonthLabel {
		display: none;
	}

	.mnthStartBrdr1stNotSun {
		border-top: none;
		border-left: none;
	}

	.mnthStartBrdrTop {
		border-top: none;
	}

	.mnthEndBrdrLastDayNotSat {
		border-bottom: none;
		border-right: none;
	}

	.mnthEndBrdrBottom {
		border-bottom: none;
	}

	.the8th::before {
		display: none;
	}

	.delTransBtn {
		transform: translateX(50%);
		right: 50%;
		bottom: -93%;
		height: 20%;
		margin-top: 0;
		align-self: center;
	}

	.dayBoxMonthLabel {
		display: none;
	}

	.weekdayLabel {
		display: none;
	}

	.col1,
	.col2,
	.col3,
	.col4,
	.col5,
	.col6,
	.col7 {
		grid-column-start: auto;
		grid-column-end: auto;
	}

	.addTransactionBtn {
		right: 0.75vw;
		bottom: 1vw;
	}

	.mobCol1 {
		grid-column-start: 1 !important;
		grid-column-end: 2 !important;
	}

	.mobCol2 {
		grid-column-start: 2 !important;
		grid-column-end: 3 !important;
	}

	.mob1st2colborder {
		border-top: solid var(--monthBorderSize) var(--30color) !important;
		border-left: solid var(--monthBorderSize) var(--30color) !important;
	}

	.mobileTopBorder {
		border-top: solid var(--monthBorderSize) var(--30color) !important;
	}

	.theMobile3rd::before {
		content: "";
		position: absolute;
		width: var(--monthBorderSize);
		height: var(--monthBorderSize);
		background: var(--30color);
		clip-path: polygon(0 0, 100% 0, 0 100%);
	}

	#calCntrlAcctsLabel {
		width: 100%;
		justify-content: center;
	}

	.addAcctModal {
		color: white;
		position: absolute;
		z-index: 50;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		background: var(--60colorTransparent);
		/* border: solid 1px black; */
		-webkit-box-shadow: 10px 22px 36px -10px rgba(0, 0, 0, 0.75);
		-moz-box-shadow: 10px 22px 36px -10px rgba(0, 0, 0, 0.75);
		box-shadow: 10px 22px 36px -10px rgba(0, 0, 0, 0.75);
		width: 75%;
		height: fit-content;
		padding: 1.5%;
		padding-top: 0.9%;
	}
}
